#main-container {
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 25px;
    padding: 10px 10px;
}

#header {
    text-align: center;
}

.todo-list-item {
    min-height: 60px;
}

/* TRANSITION CSS */

.fade-enter {
    opacity: 0.01;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0.01;
    transition: opacity 1000ms ease-in;
}